﻿<div class="row" id="replace">
    <div class="col s12">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">Activate your profile</div>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col m6 s12">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="firstNameFree" type="text" data-bind="value:firstName" />
                                <label for="firstNameFree">First Name</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <i class="material-icons prefix">person</i>
                                <input type="text" id="lastnameFree" data-bind="value:lastName" />
                                <label for="lastnameFree">Last Name</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <i class="material-icons prefix">group</i>
                                <input type="text" id="verfierFree" style="text-transform:uppercase" data-bind="textInput: verifierTeamId" />
                                <label for="verfierFree">Trainer's Team Id</label>
                                <span style="position:absolute;right:12px;top:10px;opacity:0.8;font-size:0.9em"><span data-bind="text: trainerName"></span><span data-bind="visible: trainerFind">Finding <i class="fas fa-circle-notch fa-spin"></i></span></span>
                            </div>
                            <div class="input-field col m6 s12">
                                <i class="material-icons prefix">
                                    place
                                </i>
                                <input type="text" data-bind="value: pinCode" id="pincodeFree" />
                                <label for="pincodeFree">Current Address Pincode</label>
                            </div>
                            <div class="input-field col m6 s12">
                                <i class="material-icons prefix">
                                    email
                                </i>
                                <input type="email" data-bind="value:email" id="emailFree" />
                                <label for="emailFree">Email</label>
                            </div>
                            <!--<div class="input-field col m6 s12">
                                <i class="material-icons prefix">
                                    insert_invitation
                                </i>
                                <input type="text" data-bind="value: dateOfBirth" class="datepicker" id="DOBFree" />
                                <label for="DOBFree">Date Of Birth</label>
                            </div>-->
                            <div style="margin-left:0px" class="file-field input-field col m6 s12">
                                <i class="material-icons prefix">add_a_photo</i>
                                <input type="file" onchange="readURL(this);">
                                <div class="file-path-wrapper" style="padding-left:42px;">
                                    <img style="display:inline-block;height:100%;width:60px;border-radius:3px;vertical-align:middle" id="profile-image" />
                                    <input style="width: 100%" class="file-path validate" type="text" placeholder="Choose a profile image">
                                </div>
                            </div>
                        </div>            
                    </form>
                </div>
                <div class="row">

                    <button id="free" class="btn-flat col s12 m4 l3 offset-m3 offset-l5" data-bind="click:activateProfile">Activate Free Trail</button>
                    <button id="paid" class="z-depth-0 btn col s12 m4 l3 offset-m1 offset-l1" data-bind="click:activateProfile" >Activate Full Version</button>
                </div>
            </div>

        </div>
    </div>
</div>
