﻿<div class="row">
    <div class="col s12 m12 l8" data-bind="visible: SHARED.userProfileCreated()">
        <div class="bg card-panel z-depth-0" style="text-align:center">
            <h5 style="text-align:center;color:rgba(0, 0, 0, 0.7)">My Dashboard</h5>
            <br />
            <div class="row dashboard-kpi">
                <div class="col s6 m6 l3" style="padding:10px">
                    <div class="kpi-card">
                        <div><i class="fas fa-user-check"></i></div>
                        <div>999</div>
                        <div>Verifiers in Team</div>
                    </div>
                </div>
                <div class="col s6 m6 l3" style="padding:10px">
                    <div class="kpi-card">
                        <div><i class="fas fa-video"></i></div>
                        <div>898</div>
                        <div>Videos Trained</div>
                    </div>
                </div>
                <div class="col s6 m6 l3" style="padding:10px">
                    <div class="kpi-card">
                        <div><i class="fas fa-video-slash"></i></div>
                        <div>890</div>
                        <div>Pending Verification</div>
                    </div>
                </div>
                <div class="col s6 m6 l3" style="padding:10px">
                    <div class="kpi-card">
                        <div><i class="fas fa-exclamation-circle"></i></div>
                        <div>189</div>
                        <div>Errors Detected</div>
                    </div>
                </div>
            </div>
        
       
            <div>
                <div>
                    Money Earned
                </div>
                <div style="
    font-size: 1.3em;
    font-weight: 700;
    opacity: 0.8;
">&#8377; 0</div>
            </div>
           
        

        </div>
    </div>
    <div data-bind="visible: !SHARED.userProfileCreated()" class="col s12 m12 l8">
        <div class="card-panel z-depth-0" style="text-align:center">
            <h5 style="text-align:center;color:rgba(0, 0, 0, 0.7)">Welcome to AI team</h5>
            <h6 style="text-align:center;color:rgba(0,0,0,0.8)">
                World's first cloud and crowdsourced data training
                platform.
            </h6>
            <p style="width: 100%;
    margin: 0 auto;
    text-align: justify;
    margin-top: 35px;
    font-size: 1em;
    color: rgba(0, 0, 0,0.6);

    padding-left: 16px;

    padding-right: 16px;">
                On AI team you can earn while traning the data, from anywhere you wish. All you need to have is a mobile
                or laptop and an active internet connection.
            </p>
            <ul class="intro-ul">
                <li>
                    <span><i class="fas fa-user-friends"></i></span>
                    <p>Build a Team</p>
                </li>
                <li class="arrow-right">
                    <span><i class="fas fa-long-arrow-alt-right"></i></span>
                </li>
                <li>
                    <span><i class="fab fa-android"></i></span>
                    <p>Train the data</p>
                </li>
                <li class="arrow-right">
                    <span><i class="fas fa-long-arrow-alt-right"></i></span>
                </li>
                <li>
                    <span><i class="fas fa-rupee-sign"></i></span>
                    <p>Earn Money</p>
                </li>
            </ul>
            <a style="margin-top:30px" href="#ActivateProfile" class="z-depth-0 waves-effect waves-light btn-large">Activate Profile</a>

        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Top 10 trainers of last week
                </div>
                <ul class="collection my-custom-collection" data-bind="foreach: top10Trainers">
                    <li class="collection-item avatar">
                        <img style="position:relative;margin-right:18px;vertical-align:sub;left:0px;" data-bind="attr:{src: $data.img}" alt="" class="circle">
                        <div style="display:inline-block">
                            <div style="font-weight: 600;color:rgb(244, 149, 49)" data-bind="text: $data.name" class="title"></div>

                            <div style="font-size: 0.9em;font-weight: 600;opacity: 0.9">
                                <span>Earning: </span><span>&#8377;</span><span data-bind="text: $data.earning"></span>
                                <span style="margin-left:9px">Bonus: </span><span>&#8377;</span><span data-bind="text: $data.bonus"></span>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col s12 m6">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Work Statistics
                </div>
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Unique objects identified
                </div>
                <canvas id="bar-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Errors detected
                </div>
                <canvas id="pie-chart"></canvas>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Unique actions identified
                </div>
                <canvas id="bar-chart-horizontal"></canvas>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l4">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                    Act-Sum Corelation
                </div>
                <canvas id="line-chart2"></canvas>
            </div>
        </div>
    </div>
</div>





