﻿<div>
    <div class="row" data-bind="visible: videoContainerVisible">

        <div class="col s12 m12 l6 my-video-container">
            <iframe id="video-player" frameborder="0" data-bind="attr:{src:videoUrl}"></iframe>
            <div style="display:none;text-align:center;margin-top:50px;" id="video-pre-loader">
                <div class="preloader-wrapper active">
                    <div class="spinner-layer spinner-red-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <div style="opacity:0.3">Loading Video</div>
            </div>
        </div>
        <div class="col s12 m12 l6 response-container">
            <div class="card z-depth-0">
                <div class="row">
                    <div class="col m12 s12" style="margin-bottom:30px">
                        <div class="input-field">
                            <i class="material-icons prefix">
                                create
                            </i>
                            <div class="chips chips-placeholder" id="inputObject">

                            </div>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">
                                slow_motion_video
                            </i>
                            <div class="chips chips-placeholder" id="inputAction">

                            </div>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix">
                                assignment_turned_in
                            </i>
                            <textarea id="textarea2" class="materialize-textarea" data-length="120" data-bind="value: videoDesc"></textarea>
                            <label for="textarea2">Summarise the video</label>
                        </div>


                    </div>
                    <div class="col m12 s12" style="text-align:center;margin-bottom:50px;">
                        <button class="btn waves-effect waves-light z-depth-0" data-bind="click: function(data,event){nextClicked($data,data,event)}">Save & Next<i class="material-icons right">send</i></button>
                        <div style="margin-top:10px;font-size:0.8em;font-weight:100"><span data-bind="text: videoCounter"></span> of <span data-bind="text: numberOfVideos"></span></div>
                    </div>
                </div>
                <div class="">
                    <div class="savework-container" data-bind="visible: saveWorkVisible">
                        <h1>You have completed all the videos in the work</h1>
                        <button data-bind="click: saveAndSendForVerification">Save & Send For Verification</button>
                    </div>

                </div>
            </div>
        </div>
        <div style="margin:10px auto">
            <label>
                <input type="checkbox" data-bind="checked: videoError" />
                <span>Video not loading/playing</span>
            </label>
        </div>
    </div>
</div>
