﻿<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-0">

            <div class="card-content">
                <div class="card-title">
                    Transfer to Account
                </div>
                <div>
                    Transferable Amount: 34567
                </div>
                <a style="margin-top:30px" href="#ActivateProfile" class="z-depth-0 waves-effect waves-light btn-large">Transfer to Bank</a>
            </div>
        </div>
    </div>
</div>
