﻿<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-0">
            
            <div class="card-content">
                <div class="card-title">
                    Personal Details
                    <div style="font-size:0.7em">Team Id: <span data-bind="text: teamId"></span></div>
                </div>
                
                <form>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="firstNameFree" type="text" data-bind="value:firstName" />
                            <label for="firstNameFree">First Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="lastnameFree" data-bind="value:lastName" />
                            <label for="lastnameFree">Last Name</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">
                                place
                            </i>
                            <input type="text" data-bind="value: pinCode" id="pincodeFree" />
                            <label for="pincodeFree">Current Address Pincode</label>
                        </div>
                        <div style="margin-left:0px" class="file-field input-field col m6 s12">
                            <i class="material-icons prefix">add_a_photo</i>
                            <input type="file" onchange="readURL(this);">
                            <div class="file-path-wrapper" style="padding-left:42px;">
                                <img style="display:inline-block;height:100%;width:60px;border-radius:3px;vertical-align:middle" id="profile-image" />
                                <input style="width: 100%" class="file-path validate" type="text" placeholder="Choose a profile image">
                            </div>
                        </div>

                        <div class="input-field col s12 m3 l2">
                            <button style="width:100%;margin-top:15px" class="z-depth-0 btn" data-bind="click:saveUserProfile">Save</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
   
</div>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">Bank Details</div>
                <form>
                    <div class="row">
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_balance_wallet</i>
                            <input id="accountNumber" type="password" data-bind="value:accountNumber" />
                            <label for="accountNumber">Account Number</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">account_balance_wallet</i>
                            <input type="text" id="confirmAccountNumber" data-bind="value:confirmAccountNumber" />
                            <label for="confirmAccountNumber">Re-enter Account Number</label>
                        </div>
                        <div class="input-field col m6 s12">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="accountHolderName" data-bind="value:accountHolderName" />
                            <label for="accountHolderName">Account Holder's Name</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">account_balance</i>
                            <input spellcheck="false" style="text-transform:uppercase;" type="text" id="ifscCode" data-bind="textInput: ifscCode" />
                            <label for="ifscCode">IFSC Code</label>
                            <span style="position:absolute;right:12px;top:10px;opacity:0.8;font-size:0.9em"><span data-bind="visible:ifscSearch">Searching <i class="fas fa-circle-notch fa-spin"></i></span></span>
                            <div style="position:absolute;font-size:0.8em" data-bind="text: bankDetails">
                            </div>
                        </div>

                        <div class="input-field col s12 m3 l2">
                            <button style="width:100%;margin-top:15px" class="z-depth-0 btn" data-bind="click:saveBankDetails">Save</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>