﻿<section data-bind="visible: success()">
    <div style="text-align:center;width:90%;margin:20px auto;font-size:1.2em;margin-top:60px">
        Your payment was successfull and your full profile has been activated.

    </div>
    <div class="row">
        <a href="#" class="z-depth-0 waves-effect waves-light btn-large col col-xs-12 s6 m4 l4 offset-l4 offset-m4 offset-s3">Go to Dashboard</a>
    </div>

</section>
<section data-bind="visible: !success()">
    <div style="text-align:center;width:90%;margin:20px auto;font-size:1.2em;margin-top:60px">
        Your payment failed ! <br />
        So your trial account has been activated.<br />
        <span style="font-size:0.8em;">If money has been deducted from your account, it will automatically be credited back. You can also contact us here incase of any issue.</span>
    </div>
    <div class="row">
        <a href="#support" class="z-depth-0 waves-effect waves-light btn-large col col-xs-12 s6 m4 l4 offset-l4 offset-m4 offset-s3">Contact Us</a>
    </div>
    <div class="row">
        <a href="#" class="z-depth-0 waves-effect waves-light btn-large col col-xs-12 s6 m4 l4 offset-l4 offset-m4 offset-s3">Go to Dashboard</a>
    </div>
</section>