﻿
<div id="wrapper">
    <ul id="slide-out" class="sidenav sidenav-fixed z-depth-0">

        <a style="display:inline-block;width:100%" href="#">
            <img class="brand-logo-custom" src="../../images/logo_transparent.png" />
        </a>

        <li>
            <a href="#" class="sidenav-close">
                <i class="material-icons">dashboard</i>
                Dashboard

            </a>
        </li>

        <li>
            <a href="#work" class="sidenav-close">
                <i class="material-icons">work</i>
                Workbench

            </a>

        </li>
        <li>
            <a href="#VerificationTasks" class="sidenav-close">
                <i class="material-icons">
                    verified_user
                </i>
                Verification Tasks
            </a>
        </li>

        <li>
            <a href="#earnings" class="sidenav-close">
                <i class="material-icons">
                    attach_money
                </i>
                My Earnings
            </a>
        </li>
        <li>
            <a href="#profile" class="sidenav-close">
                <i class="material-icons">
                    person
                </i>
                My Profile

            </a>

        </li>
        <li>
            <a href="#support" class="sidenav-close">
                <i class="material-icons">
                    contact_support
                </i>
                Support
            </a>
        </li>

        <li>
            <a data-bind="click: logout" href="#">
                <i class="material-icons">
                    power_settings_new
                </i>
                Logout

            </a>

        </li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <nav class="app-nav z-depth-0">
        <div class="nav-wrapper">
            <div class="user-info">
                <img data-bind="attr:{src:SHARED.profileImage }" />
                <div class="user-name">
                    <p>Welcome !</p>
                    <p data-bind="text: SHARED.defaultName"></p>
                </div>
            </div>
            <span data-bind="visible: SHARED.trial()" style="font-size: 0.8em;position: absolute;top: 37px;right: 30px;line-height: 18px;">Trial</span>
            <ul class="right">
                <li class="notification-icon">
                    <a href="#" class="dropdown-trigger " data-target='notification-dropdown'>
                        <i class="material-icons">
                            notifications
                        </i>
                    </a>
                    <span class="custom-badge">4</span>
                </li>
            </ul>
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main" style="position:relative;">

            <div class="preloader-wrapper active" data-bind="visible: router.isNavigating" style="position:absolute;margin:auto;top:0;left:0;bottom:0;right:0">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

            <div data-bind="router, visible:!(router.isNavigating())"></div>

        </div>

    </div>
</div>
<ul id='notification-dropdown' class='dropdown-content'>
    <li><a href="#!">This is notification1</a></li>
    <li><a href="#!">Your work has been approved</a></li>
    <li><a href="#!">New work available for you</a></li>
    <li class="divider" tabindex="-1"></li>
    <li data-bind="visible: SHARED.trial()"><a href="#!" data-bind="click: openPaymentPopup">Full Membership</a></li>
</ul>