﻿<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">Open new support ticket</div>
                <div class="row">
                    <div class="input-field col s12 m6 l4" style="margin-left:unset">
                        <select data-bind="value: selectedCategory">
                            <option value="" disabled selected>Select ticket category</option>
                            <option value="0">Payment</option>
                            <option value="1">Work</option>
                            <option value="2">Verification</option>
                            <option value="3">Others</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <textarea data-bind="value: complainDesc" id="description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field col s12 m3 l2">
                        <button style="width:100%;margin-top:15px" class="z-depth-0 btn" data-bind="click:postComplain">Create Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card z-depth-0">
            <div class="card-content">
                <div class="card-title">
                   Existing tickets
                </div>
                
                    <ul class="collapsible z-depth-0">
                        <li>
                            <div class="collapsible-header"><span>6478123</span><span data-badge-caption="" class="new badge blue">Open</span></div>
                            <div class="collapsible-body">
                                <div style="font-size: 0.8em;font-weight: bold;opacity: 0.6;">Complain Description</div>
                                <div style="margin-bottom:10px;">
                                    My issue is that I did the payment but still I am not able to convert my account to full. My account is still in trial.
                                </div>
                                <ul class="resolution-comments">
                                    <span  style="font-size: 0.8em;font-weight: bold;opacity: 0.6;">Resolution Comments</span>
                                    <li>
                                        Initiated refund. Please do the payment again and issue should be resolved.
                                        <span>23/9/2019 4:45 PM</span>
                                    </li>
                                    <li>Closing the ticket  <span>23/9/2019 4:45 PM</span></li>
                                    <li>Waiting for user input <span>23/9/2019 4:45 PM</span></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header"><span>9871612</span><span data-badge-caption="" class="new badge blue">In Progress</span></div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                            <div class="collapsible-header"><span>7819373</span><span data-badge-caption="" class="new badge blue">Resolved</span></div>
                            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                    </ul>
                
            </div>
        </div>
    </div>
</div>
<section style="display:none;width:100%">
    <h1>History Tickets</h1>
    <button data-bind="click: getComplains">Get EXisting Complains</button>
    <ul data-bind="foreach: userTickets">
        <li>
            <div>
                <label>Complain ID</label>
                <span data-bind="text: id"></span>
            </div>
            <div>
                <label>Category</label>
                <span data-bind="text: category"></span>
            </div>
            <div>
                <label>Status</label>
                <span data-bind="text: status"></span>
            </div>
            <div>
                <label>Description</label>
                <span data-bind="text: description"></span>
            </div>
            <button data-bind="visible: $data.showReopenButton,click: $parent.reopenTicket">Reopen</button>
        </li>
    </ul>
</section>