﻿<div>
    <div class="row" data-bind="foreach: verificationWorkParts">
        <div class="col s12 m6 l3">
            <div class="card">
                <div class="card-image">
                    <img src="../../images/ver.png" width="100" />
                    <span class="card-title"></span>
                </div>
                <div class="custom-class">
                    <span>Pending Since</span>
                    <div data-bind="text: onlyDate + ' ' + onlyMonth + ', ' + onlyYear">

                    </div>
                </div>
                <div class="card-action">
                    <a href="#" data-bind="click: function(data,event){ $parent.openVerificationWork($data,data,event)}">Start Verification</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="modalVerify">

    <span class="modal-close" style="position: absolute; right: 0;z-index:999"><i class="material-icons red-text">clear</i></span>

    <div class="video-container">

        <iframe id="video-player" frameborder="0" data-bind="attr:{src:videoUrl}"></iframe>
        <div style="position:absolute;top:0;width:100%;left:0;height:100%" id="video-pre-loader">
            <div class="preloader-wrapper active" style="position:absolute;margin:auto;top:0;left:0;bottom:0;right:0">
                <div class="spinner-layer spinner-red-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="video-response-verify">
        <p>Objects</p>
        <div data-bind="foreach: objects">
            <div class="chip">
                <span data-bind="text: $data"></span>
                <i class="close material-icons">close</i>
            </div>
        </div>
        <p>Actions</p>
        <div data-bind="foreach: actions">
            <div class="chip">
                <span data-bind="text: $data"></span>
                <i class="close material-icons">close</i>
            </div>
        </div>
        <p>Summary</p>
        <div data-bind="text: description" class="video-description-verify"></div>
    </div>
    <br />
    <div class="modal-fixed-footer">
        <div class="row">
            <div class="col m6 s6">
                <button class="btn waves-effect waves-light left" data-bind="click: function(data,event){reject($data,data,event)}">Reject<i class="material-icons left">close</i></button>
            </div>
            <div class="col m6 s6">
                <button class="btn waves-effect waves-light right" data-bind="click: function(data,event){completeVerification($data,data,event)}">Accept<i class="material-icons right">check</i></button>
            </div>
        </div>
    </div>
</div>

