﻿<div>
    <button style="position:absolute;right:0px;display:none;" data-bind="click: getWork">Refresh</button>
    <div class="row" data-bind="foreach:{data:workList,afterAdd: animateEntry}">
        <div class="col s12 m6 l4">
            <div class="card z-depth-0" style="height:auto">
                <div class="">
                    <div style="font-size:1em;width: 100%;display: block;margin-bottom:25px;font-weight:300;color:rgba(44, 130, 201, 1);padding-top:10px;padding-left:10px">Work Id: <span data-bind="text:id"></span></div>
                    <div class="work-item">
                        <div class="a" data-bind="text: minVerifiers">3</div>
                        <div class="b"><i class="fas fa-user-secret"></i><span style="margin-left:5px;">Verifiers</span></div>
                    </div>
                    <div class="work-item">
                        <div class="a" data-bind="text: totalTimeInSeconds">9</div>
                        <div class="b"><i class="fas fa-video"></i><span style="margin-left:5px;">Videos</span></div>
                    </div>
                    <div style="border:none" class="work-item">
                        <div class="a" data-bind="text: payment">89</div>
                        <div class="b"><i class="fas fa-rupee-sign"></i><span style="margin-left:5px;">Payment</span></div>
                    </div>
                </div>
                <div class="card-action" style="text-align:center">
                    <a style="margin:0" href="#" data-bind="click: function(data,event){ $parent.workClicked($data,data,event)}">Start Work</a>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .work-item {
        display: inline-block;
        width:32%;
        border-right:1px solid #acacac;
        text-align:center;
    }
    .work-item div:nth-child(1){
        font-size:2em;
        opacity:0.7;
    }
    .work-item div:nth-child(2){
        font-size:0.8em;
        color:rgba(44, 130, 201, 1);
    }
</style>



