﻿
$colorblue: rgba(44, 130, 201, 1); //blue
$colororange: rgba(255, 246, 143, 1); // orange
$colorgrey: rgb(223, 223, 223); // grey1
$colorgreylight: rgb(235, 235, 235); // grey2
.my-video-container{
    padding:0 !important;
    height:50vh;
    position:relative;
    iframe{
        width:100%;
        height:100%;

    }
}
.response-container {
    padding: 0 !important;
    height: auto !important;
    .card {
        height: 100%;
        padding: 0 10px;
        margin: 0;
        border-radius:0;
    }
}
#notification-dropdown {
    li {
        a {
            font-size: 13px;
        }

        &:last-child {
            text-align: center;
            text-transform: uppercase;

            a {
                background-color: darkred;
                color: white;
            }
        }
    }
}
#code-info-text {
    font-size: 0.8em;
    background-color: rgba(0,255,0,0.3);
    padding: 2px 12px;
    border-radius: 3px;
    display: none;
}
#code-error-text {
    font-size: 0.8em;
    background-color: rgba(255,0,0,0.3);
    padding: 2px 12px;
    border-radius: 3px;
    display: none;
}
.resolution-comments {
    background: aliceblue;
    padding: 10px !important;
    border-radius: 3px;

    li {
        margin-bottom: 5px;
        border-bottom: 1px dotted rgba(0,0,0,0.3);
        overflow:auto;

        span {
            font-size: 0.8em;
            opacity: 0.7;
            float:right;
        }
    }
}
.bg {
    /*background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-position: top right;*/
}
.dashboard-kpi {
    .kpi-card {
        background-color: aliceblue;
        padding: 10px 0px;
        border-radius: 4px;
        box-shadow: 0 0 1px 0px rgba(0,0,0,0.4);

        div:nth-child(1) {
            background-color: rgba(16,126,115,0.2);
            width: 38px;
            margin: 0 auto;
            padding: 10px;
            border-radius: 50%;
            font-size: 0.8em;
            color: #107e73;
        }

        div:nth-child(2) {
            font-size: 2em;
            margin-bottom: 0;
            opacity:0.9;
        }

        div:nth-child(3) {
            color: #107e73;
            font-size: 0.8em;
        }
    }
}
.dashboard-kpi-2{
    .col{

    }
}

.input-field {
    color: rgba(0,0,0,0.7);
}
.user-info {
    float: left;

    > img {
        width: 54px;
        border-radius: 50%;
        padding: 10px;
        vertical-align: middle;
        float: left;
        margin-left: 3px;
    }
}
.user-name {
    display: inline-block;
    vertical-align: middle;

    p {
        line-height: 20px;
        margin: 0;
        padding: 0;
    }

    > p:nth-child(1) {
        font-size: 0.8em;
        opacity: 0.8;
    }

    > p:nth-child(2) {
        margin-top: -5px;
        font-size: 0.9em;
    }
}
html, body, #applicationHost, #wrapper, #page-wrapper {
    background-color:$colorgrey;

}

.app-nav{
    z-index: 10;
    position:fixed;
    left:229px;
    width:calc(100% - 229px);
    background-color:$colorblue;
    ul{
        a{
            color:$colorgrey;
        }
    }
}

.stroked-btn{
    background:none;
    //border:1px solid $secondary-color;
    //color:$secondary-color;
    padding:17px 40px;
    cursor: pointer;
    vertical-align: bottom;
    border-radius: 3px;
    transition:all 0.5s ease-in;
    &:focus{
        background:none;
    }

}

.intro-ul {
    margin: 15px auto;

    li {
        padding: 10px 10px;
        border-radius: 4px;
        display: inline-block;
        text-align: center;
        border: 1px solid rgba(0,0,0,0.1);
        max-width: 135px;
        margin: 0 auto;

        i {
            opacity: 0.8;
            font-size: 2em;
            color: $colororange;
        }

        span {
            display: inline-block;
            overflow: auto;
        }

        p {
            font-size: 1.1em;
            margin-top: 0px;
            color: rgba(0,0,0,0.7);
            font-weight: 600;
        }
    }

    li.arrow-right {
        line-height: 5px;
        border: none;
        padding: 0px 30px;

        i {
            color: rgba(0,0,0,0.2);
            font-size: 3em;
        }
    }
}



.custom-class {
    text-align: center;

    span {
        font-size: 1.2em;
        opacity: 0.7;
        color: #38bafe;
    }

    div {
        font-weight: 700;
        opacity: 0.7;
    }
}

.video-response-verify > div {
    margin-left: 30px;
}

.video-response-verify > p {
    margin-left: 8px;
}

.video-description-verify {
    padding-right: 3px;
}

#page-wrapper {
    padding-left: 230px;
    padding-top:55px;
    background-color:$colorgrey;
}

.sidenav-trigger {
    display: none;
}

.custom-badge {
    position: absolute;
    height: 15px;
    line-height: 14px;
    top: 11px;
    left: 46px;
    background-color: $colororange;
    color: $colorblue;
    width: 15px;
    text-align: center;
    font-weight: 700;
    border-radius: 3px;
    font-size: 0.8em;
    box-shadow: 0 0 1px 0 rgba(107, 6, 6, 0.47843137254901963);
}
nav ul li a:hover{
    color:black;
}
.earning-icon, .notification-icon {
    position: relative;
    width: 80px;
    text-align: center;
}

.my-custom-collection {
    border: none;
    overflow-y: auto;
    li.collection-item.avatar {
        min-height: 60px;
        padding:10px 0px;
    }
}

@media only screen and (max-width: 992px) {


    .user-info {
    margin-left: 30px;
    > img {
        margin-left: 10px;
    }
}
    #page-wrapper {
        padding-left: 0px;
    }
    .app-nav{
        left:0;
        width:100%;
        top:0;
    }
    .sidenav-trigger {
        position: fixed;
        top: 13px;
        left: 8px;
        z-index: 100;
        display: block;

        i {
            font-size: 2.2em;
            color: white;
        }
    }

    /*.notification-icon {
        width: 58px;
    }

    .earning-icon {
        width: 58px;
    }*/

    #slide-out {
        margin-top: 0;
    }
}

#slide-out {
    background-color: rgb(235, 235, 235);
}

.sidenav li > a {
    color: rgba(0, 0, 0, 0.74);
}

.sidenav li > a > i.material-icons {
    color: rgba(0, 0, 0, 0.70);
}

.brand-logo-custom {
    width: 180px;
    margin-top: 5px;
    margin-left: 5px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.card, .card-panel{
    height:calc(100% - 22px);
}

// tablets
@media only screen and (max-width: 768px) {
    
    .intro-ul{
        li{
            display:block;
        }
        li.arrow-right{
            transform:rotate(90deg);
        }
    }
}

// mobile devices
@media only screen and (max-width: 600px){
    #activate-full {
        margin-top: 10px;
    }
}

