@colorBackground: white;
@colorSecondBackground: #eeeeee;
@colorShadow: #aaaaaa;
@colorText: black;
@colorButton: #0e76b7;

@colorButtonPrimary: #0e76b7;
@colorButtonPrimaryHover: #62b3e5;
@colorButtonPrimaryDisabled: fade(@colorButtonPrimary, 30%);
@colorButtonPrimaryText: white;

@colorButtonSecondary: #e0e0e0;
@colorButtonSecondaryHover: #C5C5C5;
@colorButtonSecondaryDisabled: fade(@colorButtonSecondary, 30%);
@colorButtonSecondaryText: #333333;

@colorButtonTertiaryText: #0e76b7;
@colorButtonTertiaryTextHover: #62b3e5;
@colorButtonTertiaryDisabled: #b6d5e9;

@colorButtonDestructive: #F44336;
@colorButtonDestructiveHover: #D61B0E;
@colorButtonDestructiveDisabled: fade(@colorButtonDestructive, 30%);
@colorButtonDestructiveText: white;
@colorExpanderContainerStyle:#F8F8F8;

@colorLabel: #527D96;
@colorBorderLine: #dddddd;
@colorDisabled: #ebebe4;
@colorReadonly: #ebebe4;
@colorSelected: #ffb62d;
@colorSelectedText: white;
@colorSelectedInvertedText: black;
@colorSelectedElement: #0e76b7;
@colorInputRequired: #ffb62d;
@colorError: #f22400;
@colorValid: #228b22;
@colorHighlighted: #fdecc9;
@colorDialogHeader: #0e76b7;
@colorDialogFooter: #f9f9f9;
@colorAnchor: #0e76b7;
@colorAnchorHover: #ffb62d;
@colorHover: #e2e2e2;
@colorHandsontableHighlightedHeader: #fdecc9;
@colorHandsontableActiveHeader: #ffb62d;
@colorResizerGrip: #cccccc;
@toolBarOpenedColor: #004A75;

// Assets for Checkboxes
@checkmarkImageUrl: "../images/checkmark.svg";
@colorBackgroundChecboxSelected: #61B3E6;
@colorCheckboxBackground: #ffffff;
@colorChecboxBorder: #cccccc;

@color1: #76608a;
@color2: #f0a30a;
@color3: #a4c400;
@color4: #d80072;
@color5: #647687;
@color6: #aa00ff;
@color7: #e3c800;
@color8: #f472d0;
@color9: #1ba1e2;
@color10: #00aba9;
@color11: #60a917;
@color12: #fa6800;
@color13: #0050ef;
@color14: #e51400;
@color15: #6d8764;

// Header Bar Color Codes
@colorLogoPanel: #0e76b7;
@colorLogoButton: @colorBackground;
@colorLogoutText: #000000;
@colorLogoutBackground: #F3F3F3;
@colorLogoBackground: #62b3e5;
@colorHeadlineBackground: white;
@colorHeaderModuleText: @colorLogoBackground;
@colorSubModuleText: #0e76b7;
@colorSideMenuItemText: @colorBackground;
@colorSideMenuItemBackground: @colorHeaderModuleText;
@colorHeadlineBackground: #1E1E1E;
@colorHeadlineBackground2: white;
@colorSideBarNavigationSearch: yellow;
